<%- include('partials/header.ejs');%>
<%- include('partials/navbar.ejs');%>

<div class="container">
    <br>
    <h1>Projetos</h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Guia Perguntas</h5>
              <p class="card-text">Aplicação node.js estilo Yahoo respostas. Usuários podem fazer perguntas e responder perguntas de outros usuários.</p>
              <br>
              <a href="#" class="btn btn-warning">Visitar</a>
            </div>
          </div>
        </div>
       
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">GuiaPress</h5>
              <p class="card-text">Aplicação Node.js estilo blog com painél administrativo em que usuários cadastrados como administradores podem gerenciar o blog criando, editando e deletando categorias e artigos.</p>
              <img src="">
              <a href="#" class="btn btn-warning">Visitar</a>
            </div>
          </div>
        </div>
      </div>
      <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sistema para restaurante</h5>
            <p class="card-text">Estou desenvolvendo um sistema para restaurente com Node.js, aprimorando um projeto que havia feito em C# durante o curso técnico. Por enquanto tenho apenas o front end e os arquivos iniciais do back-end. O objetivo é desenvolver um sistema de vendas online em que administradores podem gerencias as vendas. </p>
            <img src="">
            <a href="#" class="btn btn-warning">Visitar</a>
          </div>
        </div>
      </div>
    </div>


</div>

<%- include('partials/footer.ejs');%>